.sort.navigation
  %ul
    %li
      %a{ href: '/', class: current_page?('/') } Newest
  %ul
    %li
      %a{ href: '/popular', class: current_page?('/popular') } Popular
  %ul
    %li
      %a{ href: '/worst', class: current_page?('/worst') } Worst

.videos
  - videos.each do |video|
    .video
      .votes
        .vote
          .up-vote<
            %a{ href: "send_vote/up/#{video.url_title}/#{video.id}" } &#9650;
          .count<= video.score
          .down-vote<
            %a{ href: "send_vote/down/#{video.url_title}/#{video.id}" } &#9660;
      .video-block
        %a.video-title{ href: video.url }= video.title
        .video-image
          %img{ src: video.image }
        .video-comments
          .comments-header Top Comments
          .comments
            - video.top_comments.each do |comment|
              .comment
                = comment[:text]
                .comment-data
                  %span.user= comment[:author]
                  %span.date= comment[:age]
                  %span.thumbs #{comment[:thumbs]} <img src="#{to('/images/thumb.png')}">
        .clear
      .sent-by
        .sent-info
          .user Sent in by <a href="#">#{video.user.name}</a>
          %img.photo{ src: video.user.image }
          .thumbs #{video.user.score} <img src="#{to('/images/thumb.png')}">
          .sends <b>#{video.user.videos_count}</b> <em>u</em>Comment
          .clear
      .clear
