.sort.navigation
  %ul
    %li
      %a.selected{ href: '#' } Newest
  %ul
    %li
      %a{ href: '#' } Popular
  %ul
    %li
      %a{ href: '#' } Worst

.videos
  - videos.each do |video|
    .video
      .votes
        .up-vote &#9650;
        .count 37
        .down-vote &#9660;
      .video-block
        %a.video-title{ href: video.url }= video.title
        .video-image
          %img{ src: video.image }
        .video-comments
          .comments-header Top Comments
          .comments
            - video.top_comments.each do |comment|
              .comment
                = comment[:text]
                .comment-data
                  %span.user= comment[:author]
                  %span.date= comment[:age]
                  %span.thumbs #{comment[:thumbs]} <img src='#{to('/images/thumb.png')}'>
        .clear
      .sent-by
        .sent-info
          .user Sent in by <a href="#">Nick Barth</a>
          %img.photo{ src: 'https://graph.facebook.com/NickBarth2.0/picture' }
          .thumbs 100 <img src='#{to('/images/thumb.png')}'>
          .sends <b>1</b> <em>u</em>Comment
          .clear
      .clear
