.video
  .votes
    .up-vote &#9650;
    .count 37
    .down-vote &#9660;
  .video-block
    %a.video-title{ href: 'http://www.youtube.com/watch?v=yyKIYrr4J18' } WHAT GUYS WANT FROM GIRLS
    .video-image
      %img{ src: 'http://img.youtube.com/vi/yyKIYrr4J18/2.jpg' }
    .video-comments
      .comments-header Top Comments
      .comments
        .comment
          ahha he sprayed her with frebreeze!!
          .comment-data
            %span.user Romie Buchanan
            %span.date 5 days ago
            %span.thumbs 100 <img src='#{to('/images/thumb.png')}'>
        .comment
          ahha he sprayed her with frebreeze!!
          .comment-data
            %span.user Romie Buchanan
            %span.date 5 days ago
            %span.thumbs 100 <img src='#{to('/images/thumb.png')}'>
    .clear
  .sent-by
    .user Sent in by <a href="#">Nick Barth</a>
    %img.photo{ src: 'https://graph.facebook.com/NickBarth2.0/picture' }
    .thumbs 100 <img src='#{to('/images/thumb.png')}'>
    .sends <b>1</b> <em>u</em>Comment
  .clear

.video
  .votes
    .up-vote &#9650;
    .count 37
    .down-vote &#9660;
  .video-block
    %a.video-title{ href: 'http://www.youtube.com/watch?v=yyKIYrr4J18' } WHAT GUYS WANT FROM GIRLS
    .video-image
      %img{ src: 'http://img.youtube.com/vi/yyKIYrr4J18/2.jpg' }
    .video-comments
      .comments-header Top Comments
      .comments
        .comment
          ahha he sprayed her with frebreeze!!
          .comment-data
            %span.user Romie Buchanan
            %span.date 5 days ago
            %span.thumbs 100 <img src='#{to('/images/thumb.png')}'>
        .comment
          ahha he sprayed her with frebreeze!!
          .comment-data
            %span.user Romie Buchanan
            %span.date 5 days ago
            %span.thumbs 100 <img src='#{to('/images/thumb.png')}'>
    .clear
  .sent-by
    .user Sent in by <a href="#">Nick Barth</a>
    %img.photo{ src: 'https://graph.facebook.com/NickBarth2.0/picture' }
    .thumbs 100 <img src='#{to('/images/thumb.png')}'>
    .sends <b>1</b> <em>u</em>Comment
  .clear
